.maincontent {
	display: flex;
}

.sidebar {
	flex: 1;
	display: flex;
	flex-direction: column;
}

.content {
	flex: 3;
}


.panel {
	display: flex;
}

.panel__options {
	display: flex;
}


.user {
	display: flex;
}

.menu {
	display: flex;
	flex-direction: column;
}


.menu__item {
	display: flex;
	align-items: flex-start;
}

.menu__link {
	display: flex;
	align-items: center;
}

.sidebar__exit {
	margin-top: auto;
	display: flex;
}

.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header__search {
	flex: 1;
}

.header__user {
	display: flex;
	align-items: center;
}

.icons {
	display: flex;
	justify-content: space-around;
}

.icons__pic {
	display: flex;
	align-items: center;
	justify-content: center;
}

.visitors__container {
	display: flex;
}

.visitors {
	flex: 1;
}

.visitors__daily {
	display: flex;
}

.visitors__daily-item {
	flex: 1;
}

.posts {
	display: flex;
	flex-wrap: wrap;
}

.panel__options-btn {
	margin-left: 10px;
}

.posts__item {
	flex: 1 1 28%;
	//flex-grow: 1;
	//width: calc(100% * (1/3) - 30px);
}