extends ../test.layout

block title
    | Свойства флексбокса

block content
    -
        var colors = [
            '#1abc9c',
            '#3498db',
            '#8e44ad',
            '#2c3e50',
            '#c0392b'
        ]

    .flex-container
        - for (var i = 0; i < colors.length; i++)
            .flex-item(style="background: #{colors[i]}")= i + 1